<!DOCTYPE html>
<html>
  <head>
    <title>Yet Another Websocket Elixir Chat</title>
    <link rel="stylesheet" href="static/css/application.css" />
  </head>
  <body>
    <section class="chat">
      <div class="messages"></div>
      <div class="user_message">
        <input type="text" class="message_input" name="message_input" />
        <button class="send_message">Send</button>
      </div>
    </section>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/phoenix.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
  </body>
</html>
